<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/candidato.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <title>Document</title>
</head>

<body class="body">

    <div class="main">
        <div class="menu card">
 
                <h4 class="topic">Menu</h4> 
        </div> 

        <div class="menu-section"  >

            <a href="/empresa/" class="my-2 card">
                <img src="/img/empresa.png" alt="">
                <h5>Home</h5>
            </a>

            <a href="/empresa/vagas" class="my-2 card">
                <img src="/img/empresa.png" alt="">
                <h5>Vagas Publicadas</h5>
            </a>

            <a href="/empresa/cvs" class="my-2 card">
     
                <img src="/img/empresa.png" alt="">
                <h5>Curriculos Enviados </h5>
            </a>
 
            <a href="/empresa/perfil" class="my-2 card">
             
                <img src="/img/empresa.png" alt="">
                <h5>Meu perfil</h5>
            </a>
        </div>
    </div>

</body>

</html>