<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/candidato.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <title>Document</title>
</head>

<body class="body">

    <div class="main">
        <div class="container">

            <header>

                <div class="img-right">
                    <a href="/candidato/menu">
                        <img src="/img/flatLight31.png" alt="">
                    </a>
                </div>

                <div class="img-center"> <img src="/img/q.jfif" alt=""> </div>

            </header> 
            <form action="/candidato/pesquisar" method="post" class="my-2">

                <input type="text" name="pesquisa" class="form-control pesquisa" placeholder="Pesquisar vagas...">
                <button type="submit" class="btn btn-success mt-2">Pesquisar</button>

            </form>

        </div>
  




    </div>

</body>

</html>