<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/candidato.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <title>Document</title>
</head>

<body class="body">

    <div class="main">
        <div class="menu card" style=" display: flex; flex-direction: row; justify-content: center;">


            <h4 class="topic">Meu perfil</h4>
            <a href="/candidato/menu">
                <img src="/img/flatLight31.png" alt="">
            </a>
        </div>

        <div class="menu-section">
            <form action="/registro" style="width: 100%;" method="post">
                <input type="text" name="nome" placeholder="Nome"
                 class="form-control mt-2">
                <input type="text" name="email" placeholder="email"
                 class="form-control mt-2">
                 <input type="text" name="password" placeholder="Senha"
                  class="form-control mt-2">
                  <input type="text" name="nascimento" placeholder="Ano de nacimento"
                   class="form-control mt-2">
                  <button type="submit" class="btn btn-success mt-2" >Atualizar</button> 
        
            </form>
        </div>
    </div>

</body>

</html>