<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
    
    
    <title>Document</title>
</head>
<body>


 <div class="login">
    <img src="/img/q.jfif" alt="">
    <form action="/registro" method="post">
        <input type="text" name="nome" placeholder="Nome"
         class="form-control mt-2">
        <input type="text" name="email" placeholder="email"
         class="form-control mt-2">
         <input type="text" name="password" placeholder="Senha"
          class="form-control mt-2">
          <input type="text" name="nascimento" placeholder="Ano de nacimento"
           class="form-control mt-2">
          <button type="submit" class="btn btn-success mt-2" >Registrar</button>
          <a href="/" style="width: 100%;text-align: center; ">Já tem conta? Voltar </a>

    </form>
 </div>
    
</body>
</html>