<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/candidato.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <title>Document</title>
</head>

<body class="body">

    <div class="main">
        <div class="menu card" style=" display: flex; flex-direction: row; justify-content: center;">


            <h4 class="topic">Vagas Encontradas</h4>
            <a href="/candidato/menu">
                <img src="/img/flatLight31.png" alt="">
            </a>
        </div>

        <div class="menu-section">
            <table id="table">

                <tr>
                    <td>
                        Nome da empresa:
                    </td>
                    <td>
                        Tempo
                    </td>
                    <td>
                        Tipo de cargo
                    </td>
                    <td>

                        Enviar cv!
                    </td>



                </tr>
                <tr>
                    <td>
                        Nome da empresa:
                    </td>
                    <td>
                        Tempo
                    </td>
                    <td>

                        Tipo de cargo
                    </td>

                </tr>


            </table>
        </div>
    </div>

</body>

</html>